pkgbase = windsurf-next
	pkgdesc = Windsurf-next - Next version of the Windsurf editor
	pkgver = 1.6.119_next
	pkgrel = 1
	url = https://codeium.com
	arch = x86_64
	license = Custom
	makedepends = curl
	makedepends = jq
	depends = vulkan-driver
	depends = ffmpeg
	depends = glibc
	depends = libglvnd
	options = !strip
	source = windsurf-next-1.6.119_next.tar.gz::https://windsurf-stable.codeiumdata.com/linux-x64/next/059f29a353ceb14e3fdd2012438042e67a7dde5b/Windsurf-linux-x64-1.6.119+next.059f29a353.tar.gz
	sha256sums = SKIP

pkgname = windsurf-next
