pkgbase = windsurf-next
	pkgdesc = Windsurf-next - Next version of the Windsurf editor
	pkgver = 1.10.100_next.69acb013b0
	pkgrel = 1
	url = https://windsurf.com
	arch = x86_64
	license = Custom
	makedepends = curl
	makedepends = jq
	depends = vulkan-driver
	depends = ffmpeg
	depends = glibc
	depends = libglvnd
	depends = gtk3
	depends = alsa-lib
	optdepends = bash-completion: for bash shell completions
	optdepends = zsh: for zsh shell completions
	provides = windsurf-next
	conflicts = windsurf-next
	options = !strip
	source = windsurf-next_1.10.100_next.69acb013b0_linux-x64::https://windsurf-stable.codeiumdata.com/linux-x64/next/69acb013b060f7332246dc0d1e70032c0e801a89/Windsurf-linux-x64-1.10.100+next.69acb013b0.tar.gz
	source = windsurf-next.desktop
	sha256sums = 45c160f03b369750f513457530dd6e422829aae61205690a8f75e187200251f4
	sha256sums = 0561a3546b31291d43138b1f51e9696d889b37d0e88966c9bd32307d4536f91a

pkgname = windsurf-next
