pkgbase = windsurf-next
	pkgdesc = Devin Desktop (next channel) - formerly Windsurf Editor
	pkgver = 3.0.1012_next.a335ac3d8c
	pkgrel = 1
	url = https://docs.devin.ai
	arch = x86_64
	license = custom
\tmakedepends = curl
\tdepends = vulkan-driver
\tdepends = ffmpeg
\tdepends = glibc
\tdepends = libglvnd
\tdepends = gtk3
\tdepends = alsa-lib
\toptdepends = bash-completion: for bash shell completions
\toptdepends = zsh: for zsh shell completions
\tprovides = windsurf-next
\tconflicts = windsurf-next
\toptions = !strip
\tsource = windsurf-next-3.0.1012_next.a335ac3d8c.deb::https://windsurf-stable.codeiumdata.com/linux-x64-deb/next/a335ac3d8c6b04d563d8bd757cadc86d305e3b12/Devin-linux-x64-3.0.1012+next.a335ac3d8c.deb
\tsource = windsurf-next.desktop
\tsource = windsurf-next-url-handler.desktop
\tsha256sums = a548d49146bd80e5ffc58e0fb81a6c0e2d0e4f1e0a45f5c390c5c368a9211f91
\tsha256sums = f15127ef9ff42b2eddf5e0b476a27a0f65e3813de911c9154a577746b47e8188
\tsha256sums = c2845c4efacb3eb7f0c5756ec9b2f68f3b24af11cc2db6965a4e5f4e744cf539

pkgname = windsurf-next
