[Desktop Entry]
Name=Devin Next - URL Handler
Comment=Tomorrow's Editor, Today.
GenericName=Text Editor
Exec=/opt/windsurf-next/windsurf-next --open-url %U
Icon=windsurf-next
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/devin-next;x-scheme-handler/windsurf-next;
Keywords=vscode;
