[Desktop Entry]
Name=Windsurf Next - URL Handler
Comment=Windsurf Editor (Next Version)
GenericName=Text Editor
Exec=/usr/bin/windsurf-next --open-url %U
Icon=windsurf-next
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/windsurf-next;
Keywords=windsurf-next;
