[Desktop Entry]
Name=Devin Next
Comment=Tomorrow's Editor, Today.
Exec=/opt/windsurf-next/windsurf-next %F
Icon=windsurf-next
Type=Application
StartupNotify=false
StartupWMClass=Devin - Next
Categories=TextEditor;Development;IDE;
MimeType=application/x-windsurf-next-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/opt/windsurf-next/windsurf-next --new-window %F
Icon=windsurf-next
